<div class="container">
  <div class = "row">
    <div class ="col-md-6"><br>
      <h2>Form Data Mahasiswa</h2><hr>
      <label class="form-label">NIM</label>
      <input type="text" class="form-control" [(ngModel)]= "nim">
      <label class="form-label">Nama</label>
      <input type="text" class="form-control" [(ngModel)]= "nama">
      <label class="form-label">Kelas</label>
      <input type="text" class="form-control" [(ngModel)] = "kelas">
      <br>
      <button class = "btn btn-block btn-danger" (click) ="tambahMahasiswa() ">Tambah</button> 
    </div>
    <div class ="col-md-6"><br>
      <h2>Data Mahasiswa</h2><hr>
    <div class="card" *ngFor="let data of daftarMahasiswa">
        <div class="card-header">
          <h3>{{ data.nama }}</h3>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ data.nim }}</h5>
          <p class="card-text">{{ data.kelas }}</p>
        </div>
        </div>
      </div>
    </div>
  </div>
  
